* {
	box-sizing: border-box;
}

body{
	text-align: center;
}

#board {
	background-image: url("./img/board.png");
	background-size: 100%;
	box-sizing: content-box;
	position: relative;
	font-size: 100px;
	width: 6em;
	height: 6em;
	border: 0.8vmin solid #023859;
	border-radius: 1vmin;
}

.available {
	position: absolute;
	width: 1em;
	height: 1em;
	border: 3px solid white;
	z-index: 100;
}

#exit {
	position: absolute;
	right: calc(6em+6px);
	top: 3em;
	border-right: 6px solid #999;
	z-index: 1;
}

#red, .car, .truck {
	position: absolute;
	background-color: white;
	border: 3px solid transparent;
	z-index: 100;
	transition: left 0.4s, top 0.4s;
}

#red.selected, .car.selected, .truck.selected {
	border: 3px solid yellow;
}

#red, .car.horiz {
	width: 2em;
	height: 1em;
}

.car.vert {
	width: 1em;
	height: 2em;
}

.truck.horiz {
	width: 3em;
	height: 1em;
}

.truck.vert {
	width: 1em;
	height: 3em;
}

#red{
	background-image: url("/styles/img/red.png");
	background-size: 101.5%;
	background-color: initial;
}

#red.free {
	left: calc(5em+100px) !important;
}



.yellow-horiz{
	background-image: url("/styles/img/yellow.png");
}

.yellow-vert{
	background-image: url("/styles/img/yellow_vert.png");
}

.green-horiz{
	background-image: url("/styles/img/green.png");

}

.purple-horiz{
	background-image: url("/styles/img/purple.png");
}

.green-vert{
	background-image: url("/styles/img/green_vert.png");
}
.purple-vert{
	background-image: url("/styles/img/purple_vert.png");
}

.car{
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: initial;
}

.truck{
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: initial;
}

#content{
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	display: flex;
	justify-content: center;
	width: 100%;
	#scores{
		display: flex;
		justify-content: center;
		width: 64vmin;
		
		div{
			width: 100%;
			padding: 2vmin;
			border: #023859 0.8vmin solid; 
			border-radius: 1vmin;		
			margin-bottom: 1vmin;


		}
		
	}
}

button{
	padding: 1vmin;
	margin: 1vmin;
	background-color: #023859;
	color: white;
	border-style: none;
	border-radius: 0.5vmin;
}